/* ----- GENERAL ----- */
* {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  body {
    font-size: 20px;
  }
  
  h1, h2, h3, h4, p {
    margin: 0;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    /* background-color: #ff000050; */
    max-width: 700px;
    margin: auto;
    padding: 15px;
  }
  
  .hidden {
    display: none;
  }
  
  
  
  /* ----- HEADER ----- */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1534262521332-cfd802370cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  }
  
  
  header h1 {
    color: white;
    text-align: center;
    font-size: 2.3em;
    line-height: 1.3em;
    font-weight: 300;
  }
  
  header h1 a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    border-bottom: 3px solid white;
  }
  
  /* ----- SECTIONS ----- */
  h2 {
    color: #39A2AE;
    font-size: 35px;
    text-align: center;
    font-weight: 300;
    margin: 60px;
  }
  
  section .container {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  
  section.joke {
    text-align: center;
  }
  
  section.joke h2 {
    margin-bottom: 500px 0;
  }
  
  section.joke .buttons {
    margin-bottom: 60px;
  }
  
  section.joke button {
    background: #39A2AE;
    color: white;
    border-radius: 70px;
    border: 0px;
    padding: 20px 30px;
    margin: 7px;
    cursor: pointer;
    font-size: 1em;
    width: 150px;
  }
  
  
  section.resume .item {
    display: flex;
    align-items: center;
    margin: 40px 0;
  }
  
  section.resume .item img {
    width: 60px;
    padding-right: 25px;
  }
  
  section.resume .item h4 {
    font-weight: normal;
  }
  
  section.resume .item p {
    color: #777777;
    font-weight: normal;
  }
  
  /* ----- FOOTER ----- */
  footer {
    background: #577590;
    padding-bottom: 100px;
  }
  
  footer .container {
    /* margin-bottom: 0; */
  }
  
  footer h2 {
    color: #C9CAD9;
  }
  
  footer .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer .content img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 20px;
  }
  
  footer .content .contact-info {
    color:#C9CAD9;
    padding: 25px;
  }
  
  footer .content .contact-info p {
    margin-bottom: 5px;
  }
  
  footer .content .contact-info a {
    color:#C9CAD9;
  }
  
  a {
  color:#577590;
  text-decoration: none;
  
  }